.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #ddd;
}
